<!--<div class="btn-group">-->
<!--<button type="button" class="btn btn-primary" ng-model="radioModel" btn-radio="'Left'">Текущий квартал</button>-->
<!--<button type="button" class="btn btn-primary" ng-model="radioModel" btn-radio="'Middle'">Год</button>-->
<!--<button type="button" class="btn btn-primary" ng-model="radioModel" btn-radio="'Right'">Текущий год</button>-->
<!--</div>-->
<!--<div style="height:1000px; width:100% ; top: 0;" google-chart chart="chart_bar_by_MO"></div>-->
<!--<div style="height:1000px; width:100%;" google-chart chart="chart_bar_by_MO_segments"></div>-->
<!--<div id="chart_div" style="width: 900px; height: 500px;"></div>-->


<h3>Общий объем поступлений в бюджет за {{year}} год</h3>

<div id="chartVolumeMeans" chart x-ng-model="chartVolumeMeans"
     class="chart tall"></div><br>
